.heightmap-table,
.basegrid-table {
    font-family: 'Cascadia Mono', monospace;
    background-color: #3c4558;
    border-radius: 3px;
    width: 337px;
    height: 337px;
    border-spacing: 1px;
    table-layout:fixed;
}

.basegrid-table td {
    line-height: 0;
    font-size: 37px;
    background-color: #46526B;
    margin: 0;
    width: 20px;
    height: 20px;
}

.heightmap-table td {
    background-color: #46526B;
    margin: 0;
    width: 20px;
    height: 20px;
}